{% extends 'blog/base.html' %}
{% block content %}
    <main class="container">
        <div class="row">
            <div class="column">
                
                {% for post in posts %}
                <article class="post">
                    <time>published: {{ post.published_date }}, {{ post.published_time }}</time>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </article>
                <br><hr><br>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}      